*{
	background-color: black;
	color: white;
	border: none;
}

div{
	background-color: black;
	align-items: center;
	text-align: center;
	padding: 21px;
	align-content: center;

}
.buttons{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 12px;
	gap: 12px;

}
button{
	background-color: green;
	cursor: pointer;
}